body {
  background-color: peru;
}

h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}
.btn {
  cursor: pointer;
}
.clicked {
  color: #7f8c8d;
}
.greetings,
.form {
  display: none;
}
.showing {
  display: block;
}
